<header class="header">
  <div class="search-block">
    <img class="logo" src="assets/logo.png" alt="logo">
    <form (ngSubmit)="onSubmit()">
      <input type="search">
      <button appButton variant="primary" type="submit">search</button>
    </form>
    <button appButton variant="icon-button">
      <app-settings-icon (click)="onChangeSetting()"/>
    </button>
  </div>

  <div class="user-profile-block">
    <span>Your name</span>
    <button appButton variant="icon-button">
      <app-user-icon/>
    </button>
  </div>
</header>

@if (isOpenSettingMenu) {
  <menu>
    <li>
      <button [class.active]="currentField === 'publishedAt'" (click)="onChangeSortParams('publishedAt')">
        date
      </button>
    </li>
    <li>
      <button [class.active]="currentField === 'likeCount'" (click)="onChangeSortParams('likeCount')">count of
        views
      </button>
    </li>
    <li>
      by word or sentence
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onChangeSearchTerm(searchTerm = $event)">
    </li>
  </menu>
}
