<article>
  <div class="img-container">
    <img [src]="itemDetail().snippet.thumbnails.high.url" alt="video cover">
  </div>

  <div class="text-container" [appColoredBorder]="itemDetail().snippet.publishedAt">
    <div class="header">
      <h2>{{ itemDetail().snippet.title }}</h2>
      <time>{{ itemDetail().snippet?.publishedAt | date: 'fullDate' }}</time>
    </div>
    <div class="text">
      <span>Description:</span>
      <p>{{ itemDetail().snippet.description }}</p>
    </div>
    <ul>
      <li>
        <app-view-counts-icon/>
        {{ itemDetail().statistics.viewCount }}
      </li>
      <li>
        <app-like-icon/>
        {{ itemDetail().statistics.likeCount }}
      </li>
      <li>
        <app-dislike-count-icon/>
        {{ itemDetail().statistics.dislikeCount }}
      </li>
      <li>
        <app-comment-count-icon/>
        {{ itemDetail().statistics.commentCount }}
      </li>
    </ul>
  </div>
</article>





